<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>个人注册</title>

    <link rel="stylesheet" type="text/css" href="/static/home/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/pages-register.css" />
    
	<script type="text/javascript" src="/static/home/js/all.js"></script>
	<script type="text/javascript" src="/static/home/js/pages/register.js"></script>
</head>

<body>
	<div class="register py-container ">
		<!--head-->
		<div class="logoArea">
			<a href="" class="logo"></a>
		</div>
		<!--register-->
		<div class="registerArea">
			<h3>注册新用户<span class="go">我有账号，去<a href="login.html" target="_blank">登陆</a></span></h3>
			<div class="info">
				<form action="{:url('phone')}" method="post" id="reg_form" class="sui-form form-horizontal">
					<div class="control-group">
						<label class="control-label">手机号：</label>
						<div class="controls">
							<input type="text" id="phone" name="phone" placeholder="请输入你的手机号" class="input-xfat input-xlarge">
							<span class="error"></span>
						</div>
					</div>
					<div class="control-group">
						<label for="inputPassword" class="control-label">验证码：</label>
						<div class="controls">
							<input type="text" id="code" name="code" placeholder="验证码" class="input-xfat input-xlarge" style="width:120px">
							<button type="button" class="btn-xlarge" id="dyMobileButton">发送验证码</button>
							<span class="error"></span>
						</div>
					</div>
					<div class="control-group">
						<label for="inputPassword" class="control-label">登录密码：</label>
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="设置登录密码" class="input-xfat input-xlarge">
							<span class="error"></span>
						</div>
					</div>
					<div class="control-group">
						<label for="inputPassword" class="control-label">确认密码：</label>
						<div class="controls">
							<input type="password" id="repassword" name="repassword" placeholder="再次确认密码" class="input-xfat input-xlarge">
							<span class="error"></span>
						</div>
					</div>
					<div class="control-group">
						<label for="inputPassword" class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<div class="controls">
							<input name="m1" type="checkbox" value="2" checked=""><span>同意协议并注册《品优购用户协议》</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls btn-reg">
							<a id="reg_btn" class="sui-btn btn-block btn-xlarge btn-danger reg-btn" href="javascript:;">完成注册</a>
						</div>
					</div>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--foot-->
		<div class="py-container copyright">
			<ul>
				<li>关于我们</li>
				<li>联系我们</li>
				<li>联系客服</li>
				<li>商家入驻</li>
				<li>营销中心</li>
				<li>手机品优购</li>
				<li>销售联盟</li>
				<li>品优购社区</li>
			</ul>
			<div class="address">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</div>
			<div class="beian">京ICP备08001421号京公网安备110108007702
			</div>
		</div>
	</div>
 

	<script>   

      /* 
        手机号检测
      1 给a标签绑定点击事件(完成注册)
      2 获取手机号这一行
      3 判定,手机号不能为空  用正则表达式限定手机号格式
       */
       // 页面加载事件
      $(function(){
        // 给a标签绑定点击事件
        var flag = true;
        $('#reg_btn').click(function(){
          // 判定手机号是否为空
          if ($('#phone').val()=='') {
             $('#phone').closest('div').find('span').html('手机号不能为空');
             flag = false;
          }else if(!/^1[3-9]\d{9}$/.test($('#phone').val())){
             $('#phone').closest('div').find('span').html('手机号格式不正确');
             flag = false;
          }else{
             $('#phone').closest('div').find('span').html('');
          }
          //提交表单
             if (flag) {
                $('#reg_form').submit();
              }
        });    


       /*
           验证码的倒计时设置
         1 绑定一个发送验证码绑定一个点击事件
         2 手机号不能为空且格式必须正确
         3 点击发送之后进行一个倒计时,用定时器 修改电机的额数字 当数字不到零时,设置成不能点的格式 当数字不到零时
         4 当调到零的时候 清楚定时器 回复可点状态
       */
      //网页加载事件
         // 给发送绑定一个点击事件
         $('#dyMobileButton').click(function(){
         	var phone = $('#phone').val();
          // 手机号的判定
            if (phone=='') {
               $('#phone').closest('div').find('span').html('手机号不能为空');
               return;
            }else if(!/^1[3-9]\d{9}$/.test(phone)){
               $('#phone').closest('div').find('span').html('手机号格式不正确');
               return;
            }

            var data = {'phone':phone};
            //发送Ajax请求,发送短信
            $.ajax({
            	'url':"{:url('/home/login/sendmsg')}",
            	'type':"post",
            	'data':data,
            	'dataType':"json",
            	'success':function(res){
            		if(res.code !=10000){
            			alert(res.msg); return;
            		}
            		console.log(res.data);
            	}
            })
            // 设置一个定时器
            
            var time = 6;
            var timer = setInterval(function(){
              time--;
              // 修改值
              $('#dyMobileButton').html('剩余' + time + 's');
              // 修改状态
              $('#dyMobileButton').attr('disabled',true);
              // 当事件为0时,清楚定时器,回复原来效果状态
              if (time == 0) {
                // 清除定时器
                clearInterval(timer);
                $('#dyMobileButton').html('发送验证码');
                $('#dyMobileButton').attr('disabled',false);
              }

            },1000);
         });

     })

       
	</script>
</body>

</html>