<title>我的购物车</title>

<link rel="stylesheet" type="text/css" href="/static/home/css/pages-cart.css" />
<script type="text/javascript" src="/static/home/js/pages/index.js"></script>
<!--主内容-->
<div class="cart py-container">
	<!--All goods-->
	<div class="allgoods">
		<h4>全部商品<span>11</span></h4>
		<div class="cart-main">
			<div class="yui3-g cart-th">
				<div class="yui3-u-1-4"><input type="checkbox" name="" id="" value="" /> 全部</div>
				<div class="yui3-u-1-4">商品</div>
				<div class="yui3-u-1-8">单价（元）</div>
				<div class="yui3-u-1-8">数量</div>
				<div class="yui3-u-1-8">小计（元）</div>
				<div class="yui3-u-1-8">操作</div>
			</div>
			<div class="cart-item-list">
				<div class="cart-shop">
					<input type="checkbox" name="" id="" value="" />
					<span class="shopname self">传智自营</span>
				</div>
				<div class="cart-body">
					<div class="cart-list">
						{foreach $list as $v}
						<ul class="goods-list yui3-g" goods_id="{$v.goods_id}" goods_attr_ids="{$v.goods_attr_ids}" number="{$v.number}"
						 cart_id="{$v.id}">
							<li class="yui3-u-1-24">
								<input type="checkbox" class="row_check" name="" id="" value="" />
							</li>
							<li class="yui3-u-6-24">
								<div class="good-item">
									<div class="item-img"><img src="{$v.goods.goods_logo}" /></div>
									<div class="item-msg">{$v.goods.goods_name}</div>
								</div>
							</li>
							<li class="yui3-u-5-24">
								<div class="item-text">
									{foreach $v['goodsattr'] as $attr}
									{$attr.attr_name}:{$attr.attr_value} <br />
									{/foreach}
								</div>
							</li>
							<li class="yui3-u-1-8"><span class="price">{$v.goods.goods_price}</span></li>
							<li class="yui3-u-1-8">
								<a href="javascript:void(0)" class="increment mins">-</a>
								<input autocomplete="off" type="text" value="{$v.number}" minnum="1" class="itxt current_number" />
								<a href="javascript:void(0)" class="increment plus">+</a>
							</li>
							<li class="yui3-u-1-8"><span class="sum">{$v.goods.goods_price*$v.number}</span></li>
							<li class="yui3-u-1-8">
								<a href="javascript:;" class="delete">删除</a><br />
								<a href="#none">移到我的关注</a>
							</li>
						</ul>
						{/foreach}
					</div>
				</div>
			</div>
		</div>
		<div class="cart-tool">
			<div class="select-all">
				<input type="checkbox" class="check_all" name="" value="" />
				<span>全选</span>
			</div>
			<div class="option">
				<a href="#none">删除选中的商品</a>
				<a href="#none">移到我的关注</a>
				<a href="#none">清除下柜商品</a>
			</div>
			<div class="money-box">
				<div class="chosed">已选择<span id="total_number">0</span>件商品</div>
				<div class="sumprice">
					<span><em>总价（不含运费） ：</em><i id="total_price" class="summoney">¥0</i></span>
					<span><em>已节省：</em><i>-¥0</i></span>
				</div>
				<div class="sumbtn">
					<a class="sum-btn" href="javascript:;" target="_blank">结算</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="deled">
			<span>已删除商品，您可以重新购买或加关注：</span>
			<div class="cart-list del">
				<ul class="goods-list yui3-g">
					<li class="yui3-u-1-2">
						<div class="good-item">
							<div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
						</div>
					</li>
					<li class="yui3-u-1-6"><span class="price">8848.00</span></li>
					<li class="yui3-u-1-6">
						<span class="number">1</span>
					</li>
					<li class="yui3-u-1-8">
						<a href="#none">重新购买</a>
						<a href="#none">移到我的关注</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="liked">
			<ul class="sui-nav nav-tabs">
				<li class="active">
					<a href="#index" data-toggle="tab">猜你喜欢</a>
				</li>
				<li>
					<a href="#profile" data-toggle="tab">特惠换购</a>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div class="tab-content">
				<div id="index" class="tab-pane active">
					<div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul>
									<li>
										<img src="/static/home/img/like1.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
									<li>
										<img src="/static/home/img/like2.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
									<li>
										<img src="/static/home/img/like3.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
									<li>
										<img src="/static/home/img/like4.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>
										<img src="/static/home/img/like1.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
									<li>
										<img src="/static/home/img/like2.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
									<li>
										<img src="/static/home/img/like3.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
									<li>
										<img src="/static/home/img/like4.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
						<a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
					</div>
				</div>
				<div id="profile" class="tab-pane">
					<p>特惠选购</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	/*
       封装要给选中数量和金额的改变的函数
       1 选中的数量 并累加
       2 选中金额并累加
       3 放到界面上
        */
	var changetotal = function () {
		// 数量.金额 初始化

		var num = 0;
		var sum = 0;
		// 计算数量
		$('.row_check:checked').each(function (i, v) {
			// v是一个dom对象计算数量和金额
			num += parseInt($(v).closest('ul').find('.current_number').val());
			sum += parseFloat($(v).closest('ul').find('.sum').html());
		});
		// 总的数量和金额放到界面上
		$('#total_number').html(num);
		$('#total_price').html('¥' + sum);
	}


	//封装一个函数，发送ajax请求 修改购买数量
	var changenum = function (new_number, element) {
		//组装请求参数
		var data = {
			'goods_id': $(element).closest('ul').attr('goods_id'),
			'goods_attr_ids': $(element).closest('ul').attr('goods_attr_ids'),
			'number': new_number
		}
		//发送ajax请求
		$.ajax({
			"url": "{:url('home/cart/changenum')}",
			"type": "post",
			"data": data,
			"dataType": "json",
			"success": function (res) {
				if (res.code != 10000) {
					alert(res.msg);
					return;
				}
				//将新的数据显示到页面上
				$(element).closest('ul').find('.current_number').val(new_number);
				//修改成功重新计算当前行的小计金额
				var price = parseFloat($(element).closest('ul').find('.price').html());
				var sum = price * new_number;
				//将小计金额显示到页面上
				$(element).closest('ul').find('.sum').html(sum);
				//重新计算已选商品的数量和总价
				changetotal();
				//将新的数量,重新记录到当前行ul标签上,用于后续还原
				$(element).closest('ul').attr('number', new_number);
			},
		});
	}

	/*
	选中与全选
	1 找到全选并绑定onchange事件
	2 找到每一行的选择框的状态与全选的状态相同
	3 每一行的选择框的状态,当所有行都选择的时候,将全选的状态与选中状态相同
	 */

	$('.check_all').change(function () {
		// 全选的状态
		var status = $(this).prop('checked');
		// 所有行的状态与全选状态保持一致
		$('.row_check').prop('checked', status);
		changetotal();
	});

	$('.row_check').change(function () {
		// 总的行数
		var total = $('.row_check').length;
		// 所有选中的行数
		var checked = $('.row_check:checked').length;
		// 当选中的行数与总的行数相等时,将全选的状态改成和每一行的状态一样
		// 如果不相等,status为false
		var status = total == checked;
		$('.check_all').prop('checked', status);
		changetotal();
	});

	/*
	   数量的加
	   1 找到所有+并绑定点击事件
	   2 找到数量方框内并数据判定 必须时数值 必须为整数
	   3 数量的佳佳,让最新赋给方框内
	   4 计算小计金额
	   5 调用函数,将选中的金额和数量放到页面上
	 */

	$('.plus').click(function () {
		// 找到数值框内的number,取整
		var number = parseInt($(this).closest('ul').find('.current_number').val());
		// 判断是一个数值
		if (isNaN(number)) {
			alert('请输入一个数值');
		}
		var new_number = number + 1;
		//调用changenum,发送ajax请求,将更改的数据发送到后台
		changenum(new_number, this);
	});

	/*   数量的减
	   1 找到所有减号并绑定点击事件
	   2 找到数量方框内并数据判定 必须时数值 必须为整数
	   3 数量的佳佳,让最新赋给方框内
       4 计算小计金额
       5 调用函数,将数值放到页面上
	   */

	$('.mins').click(function () {
		// 找到数值框内的number,取整
		var number = parseInt($(this).closest('ul').find('.current_number').val());
		// 判断是一个数值
		if (isNaN(number)) {
			alert('请输入一个数值');
		}
		if (number == 1) return;
		var new_number = number - 1;
		//调用changenum,发送ajax请求,将修改的数据放到后台
		changenum(new_number, this);
	});

	//给input输入框绑定change事件
	$('.current_number').change(function () {
		//获取新的数量 input的value值
		var new_number = parseInt($(this).val());
		//检测数量的格式
		//包涵字母
		if (isNaN(new_number)) {
			alert('购买数量必须是数字');
			//将当前的购买数量恢复原状
			var old_number = $(this).closest('ul').attr('number');
			$(this).val(old_number);
			return;
		}
		//小数
		if (new_number != parseInt(new_number)) {
			alert('购买数量必须为整数');
			var old_number = $(this).closest('ul').attr('number');
			$(this).val(old_number);
			return;
		}
		//正整数
		if (new_number < 1) {
			alert('购买数量必须为正整数');
			var old_number = $(this).closest('ul').attr('number');
			$(this).val(old_number);
			return;
		}
		//数量转化为整数型
		new_number = parseInt(new_number);
		//调用changenum,发送ajax请求
		changenum(new_number, this);
	})

	$('.delete').click(function () {
		//发送ajax请求，组装数据，删除数据
		var data = {
			'goods_id': $(this).closest('ul').attr('goods_id'),
			'goods_attr_ids': $(this).closest('ul').attr('goods_attr_ids')
		}
		var that = this;
		//发送ajax请求
		$.ajax({
			"url": "{:url('home/cart/delcart')}",
			"type": "post",
			"data": data,
			"dataType": "json",
			"success": function (res) {
				if (res.code != 10000) {
					alert(res.msg);
					return;
				}
				//删除成功后,从页面上将进行删除
				$(that).closest('ul').remove();
				//重新计算已选的商品的数量和金额
				changetotal();
			}
		})
	})
	$('.sum-btn').click(function () {
		//获取选中的每一行的checkbox
		//对每一行获取对应的主键id值 拼接成字符串参数
		var cart_ids = '';
		$('.row_check:checked').each(function (i, v) {
			//v 就是一个checkbox dom对象
			cart_ids += $(v).closest('ul').attr('cart_id') + ",";
		})
		//去除最后一个逗号
		cart_ids = cart_ids.slice(0, -1);
		var url = "{:url('home/order/create')}" + "?cart_ids=" + cart_ids;
		location.href = url;
	})
</script>